<div class="card card-form">
    <div class="row no-gutters">
        <div class="col-lg-4 card-body">
            <p><strong class="headings-color">Question Information</strong></p>
            <p class="text-muted mb-0">Create new question.</p>
        </div>
        <div class="col-lg-8 card-form__body card-body">
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" type="text" class="form-control" placeholder="title">
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea id="description" rows="4" class="form-control" placeholder="description ..."></textarea>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="text-label" for="flatpickrSample01">Start Date</label>
                            <input id="flatpickrSample01" type="text" class="form-control"
                                placeholder="Flatpickr example" data-toggle="flatpickr" value="today">
                        </div>
                    </div>


                    <div class="col">
                        <div class="form-group">
                            <label class="text-label" for="flatpickrSample05">Start Time</label>
                            <input id="flatpickrSample05" type="text" class="form-control"
                                placeholder="Flatpickr time example" data-toggle="flatpickr"
                                data-flatpickr-enable-time="true" data-flatpickr-no-calendar="true"
                                data-flatpickr-alt-format="H:i" data-flatpickr-date-format="H:i" value="15:35">
                        </div>
                    </div>


                </div>
                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label class="text-label" for="flatpickrSample01">End Date</label>
                            <input id="flatpickrSample01" type="text" class="form-control"
                                placeholder="Flatpickr example" data-toggle="flatpickr" value="today">
                        </div>
                    </div>


                    <div class="col">
                        <div class="form-group">
                            <label class="text-label" for="flatpickrSample05">End Time</label>
                            <input id="flatpickrSample05" type="text" class="form-control"
                                placeholder="Flatpickr time example" data-toggle="flatpickr"
                                data-flatpickr-enable-time="true" data-flatpickr-no-calendar="true"
                                data-flatpickr-alt-format="H:i" data-flatpickr-date-format="H:i" value="15:35">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="country">Enrol Users</label><br />
                    <select multiple name="users" id="users" class="filter-multi-select">
                        <option value="bear">Bear</option>
                        <option value="ant">Ant</option>
                        <option value="salamander">Salamander</option>
                        <option value="owl">Owl</option>
                        <option value="frog">Frog</option>
                        <option value="shark">Shark</option>
                          <option value="sharks">Sharks</option>
                        
                    </select>
                    <small class="form-text text-muted">The course wont be visible if set to draft mode</small>
                </div>
                         <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="country">Track</label><br />
                            <select id="country" class="custom-select w-auto">
                                <option value="1">yes</option>
                                <option value="0">no</option>
                            </select>
                            <small class="form-text text-muted">Use track to track this campaign</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="country">Status</label><br />
                            <select id="country" class="custom-select w-auto">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                            <small class="form-text text-muted">The course will be saved inside the category.</small>
                        </div>
                    </div>
                </div>

        </div>
    </div>

</div>




<div class="text-right mb-5">
    <a href="#" class="btn btn-success">Save</a>
</div>


</form>



</div>
</div>
</div>