	<div id="wrapper">
	
		<!-- contain main informative part of the site -->
		<main id="main">
	
			<!-- breadcrumb nav -->
			<nav class="breadcrumb-nav">
				<div class="container">
					<!-- breadcrumb -->
					<ol class="breadcrumb">
						<li><a href="/">Home</a></li>
						<li class="active">MBTI</li>
						<li><a href="/logout">Logout</a></li>
					</ol>
				</div>
			</nav>
			<!-- two columns -->
			<div id="two-columns" class="container">
				<div class="row">
					<!-- content -->
					<article id="content" class="col-xs-12 col-md-9">
						<!-- content h1 -->
						<h1 class="content-h1 fw-semi">Myers-Briggs Explained in Less than 5 Minutes - 16 Personalities</h1>
						<!-- view header -->
					
						<div class="aligncenter content-aligncenter">
							<section class="widget widget_intro">
								<h3>Course Intro</h3>
								<div class="aligncenter overlay">
									<a href="https://www.youtube.com/watch?v=hmZn6pWbSG4?autoplay=1" class="btn-play fas fa-play-circle lightbox fancybox.iframe"></a>
									<img src="/homeasset/images/img32.jpg" alt="image description">
								</div>
							</section>
						</div>
						<h3 class="content-h3">Course Description</h3>
						<p>The purpose of the Myers-Briggs Type Indicator速 (MBTI速) personality inventory is to make the theory of psychological types described by C. G. Jung understandable and useful in people's lives. The essence of the theory is that much seemingly random variation in the behavior is actually quite orderly and consistent, being due to basic differences in the ways individuals prefer to use their perception and judgment.</p>
						<p>"Perception involves all the ways of becoming aware of things, people, happenings, or ideas. Judgment involves all the ways of coming to conclusions about what has been perceived. If people differ systematically in what they perceive and in how they reach conclusions, then it is only reasonable for them to differ correspondingly in their interests, reactions, values, motivations, and skills."</p>
						<h3 class="content-h3">What you will learn</h3>
						<p>In developing the Myers-Briggs Type Indicator [instrument], the aim of Isabel Briggs Myers, and her mother, Katharine Briggs, was to make the insights of type theory accessible to individuals and groups. They addressed the two related goals in the developments and application of the MBTI instrument.</p>
						<ul class="listDefault list-unstyled">
							<li>The identification of basic preferences of each of the four dichotomies specified or implicit in Jung's theory.</li>
							<li>The identification and description of the 16 distinctive personality types that result from the interactions among the preferences."</li>
							<li>Excerpted with permission from the MBTI速 Manual: A Guide to the Development and Use of the Myers-Briggs Type Indicator速</li>
						</ul>
						<!-- <h2>Carriculam</h2> -->
				
					
				
					</article>
					<!-- sidebar -->
					<aside class="col-xs-12 col-md-3" id="sidebar">
						<!-- widget course select -->
						<section class="widget widget_box widget_course_select">
                            {{#if isComplete}}
                            <br>
                           <h3 class="text-uppercase">Completed </h3>
							
                            {{else}}
                               <a href="/survey"><header class="widgetHead text-center bg-theme">
								<h3 class="text-uppercase">Start Quiz</h3>
							</header></a>
                           
                            {{/if}}
						
							<ul class="list-unstyled font-lato">
								<li><i class="fas fa-clock icn no-shrink"></i> Quiz Duration: 15 minutes</li>
								<li><i class="fas fa-bullhorn icn no-shrink"></i> Lectures: 1</li>
								<li><i class="fas fa-play-circle icn no-shrink"></i> Video: 4 minutes</li>
							</ul>
						</section>
						
					
					
					</aside>
				</div>
			</div>
		</main>
	
		<!-- back top of the page -->
		<span id="back-top" class="text-center fa fa-caret-up"></span>
		<!-- loader of the page -->
		<div id="loader" class="loader-holder">
			<div class="block"><img src="/homeasset/images/svg/hearts.svg" width="100" alt="loader"></div>
		</div>
	</div>
