 <div class="navbar navbar-secondary navbar-light navbar-expand-sm p-0 d-none d-md-flex" id="secondaryNavbar">
                        <ul class="nav navbar-nav">
                            {{!-- <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Home Pages</a>
                                <div class="dropdown-menu">
                                    <a href="fluid-index.html" class="dropdown-item">Home v1</a>
                                    <a href="fluid-index2.html" class="dropdown-item">Home v2</a>
                                </div>
                            </li> --}}
                            {{!-- <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Student</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="fluid-student-dashboard.html">Dashboard</a>
                                    <a class="dropdown-item" href="fluid-student-series.html">Series</a>
                                    <a class="dropdown-item" href="fluid-student-courses.html">Courses</a>
                                    <a class="dropdown-item" href="fluid-student-course.html">Course Lessons</a>
                                    <a class="dropdown-item" href="fluid-student-take-course.html">Take Course</a>
                                    <a class="dropdown-item" href="fluid-student-take-quiz.html">Take Quiz</a>
                                    <a class="dropdown-item" href="fluid-student-billing.html">Billing</a>
                                    <a class="dropdown-item" href="fluid-student-edit-account.html">Edit Account</a>
                                    <a class="dropdown-item" href="fluid-student-profile.html">Student Profile</a>
                                    <a class="dropdown-item" href="login.html">Login</a>
                                    <a class="dropdown-item" href="sign-up.html">Sign Up</a>
                                </div>
                            </li> --}}
                            {{!-- <li class="nav-item dropdown active">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Instructor</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item active" href="fluid-instructor-dashboard.html">Dashboard</a>
                                    <a class="dropdown-item" href="fluid-instructor-courses.html">My Courses</a>
                                    <a class="dropdown-item" href="fluid-instructor-course-edit.html">Edit Course</a>
                                    <a class="dropdown-item" href="fluid-instructor-lesson-edit.html">Edit Lesson</a>
                                    <a class="dropdown-item" href="fluid-instructor-create-quiz.html">Create Quiz</a>
                                    <a class="dropdown-item" href="fluid-instructor-earnings.html">Earnings</a>
                                    <a class="dropdown-item" href="fluid-instructor-profile.html">Profile</a>
                                    <a class="dropdown-item" href="fluid-instructor-payout.html">Payout</a> </div>
                            </li> --}}
                           
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Administrator</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/dashboard">Dashboard</a>
          <a class="dropdown-item" href="/dashboard/survey/list">Survey</a>
      {{!-- <a class="dropdown-item" href="/dashboard/category">Category</a> --}}
      {{!-- <a class="dropdown-item" href="/dashboard/courses">Courses</a>
      <a class="dropdown-item" href="fluid-app-trello.html">Support Tickets</a> --}}
      <a class="dropdown-item" href="/">Home</a>
      {{!-- <a class="dropdown-item" href="fluid-app-trello.html">Website Settings</a>  --}}
    </div>
  </li>
 
                            {{!-- <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">UI Components</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="fluid-ui-buttons.html">Buttons</a>
                                    <a class="dropdown-item" href="fluid-ui-alerts.html">Alerts</a>
                                    <a class="dropdown-item" href="fluid-ui-avatars.html">Avatars</a>
                                    <a class="dropdown-item" href="fluid-ui-modals.html">Modals</a>
                                    <a class="dropdown-item" href="fluid-ui-charts.html">Charts</a>
                                    <a class="dropdown-item" href="fluid-ui-icons.html">Icons</a>
                                    <a class="dropdown-item" href="fluid-ui-forms.html">Forms</a>
                                    <a class="dropdown-item" href="fluid-ui-range-sliders.html">Range Sliders</a>
                                    <a class="dropdown-item" href="fluid-ui-datetime.html">Time &amp; Date</a>
                                    <a class="dropdown-item" href="fluid-ui-tables.html">Tables</a>
                                    <a class="dropdown-item" href="fluid-ui-tabs.html">Tabs</a>
                                    <a class="dropdown-item" href="fluid-ui-loaders.html">Loaders</a>
                                    <a class="dropdown-item" href="fluid-ui-drag.html">Drag &amp; Drop</a>
                                    <a class="dropdown-item" href="fluid-ui-pagination.html">Pagination</a>
                                    <a class="dropdown-item" href="fluid-ui-vector-maps.html">Vector Maps</a>
                                </div>
                            </li> --}}
                            {{!-- <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Layouts</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="instructor-dashboard.html">Admin</a>
                                    <a class="dropdown-item active" href="fluid-instructor-dashboard.html">Full Width</a>
                                    <a class="dropdown-item" href="fixed-instructor-dashboard.html">Fixed</a>
                                </div>
                            </li> --}}
                        </ul>
                    </div>