<div class="card card-form">
    <div class="row no-gutters">
        <div class="col-lg-4 card-body">
            <p><strong class="headings-color">Survey Information</strong></p>
            <p class="text-muted mb-0">Setup New Survey.</p>
        </div>
        <div class="col-lg-8 card-form__body card-body">

            <form>
                <div class="form-group">
                    <label for="title"></label>Title</label>
                    <input id="title" type="text" class="form-control" placeholder="title">
                </div>


                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" rows="4" class="form-control" placeholder="description ..."></textarea>
                </div>
                <div class="form-group">
                    <label for="status">Status</label><br />
                    <select id="status" class="custom-select w-auto">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <small class="form-text text-muted">If active the survey will be visible</small>
                </div>
                <div class="text-right mb-5">
                    <button class="btn btn-success" id="submit" type="button">Submit form</button>
                </div>

            </form>


        </div>
    </div>
</div>